#examples_form {
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    width: max-content;
    display: flex;
    flex-direction: row;
}

#examples_form input {
    width: 100px;
    padding: 5px;
    margin: 0 10px;
}

#examples_form button {
    width: 100px;
    padding: 5px;
    margin: 0 auto;
}

#add_container,
#sub_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
}

.example_card {
    display: grid;
    width: 100px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.box_1 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    padding: 0;
    margin: 0;
}

.box_2 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    padding: 0;
    margin: 0;
}

.box_3 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    padding: 0;
    margin: 0;
}